.section_grey {
	background-color: #EEEEEE;
}

.section-content {
	max-width: 1205px;
	margin: 0 auto;
}

.title {
	font-family: 'RF Dewi Expanded Ultrabold';
	font-size: clamp(30px, 5vw, 48px);
	line-height: 52.8px;
	text-align: center;
	color: #191919;
	margin: 0 auto;
}

.text {
	font-family: 'Inter';
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #1A1A1A;
	margin: 0 auto;
}

.items {
	display: flex;
	flex-wrap: wrap;
}